.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 10px;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  border: solid 2px black;
}

.list-items {
  padding: 2px;
}

.appoinment-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
